

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* <a href="https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c" target="_blank">https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c</a> */
:root {

    /* https://coolors.co/f7b32b-2660a4-ffffff-5ca4a9-a40e4c */
  --primary-color: #f7B32B ;
  --secondary-color: #2660A4;
  --accent1-color: #537caa;
  --accent2-color: #5CA4A9;

  --heading-font: Lato, serif;
  --paragraph-font: Lato , serif;

  --nav-background-color: #5CA4A9;
  --nav-link-color: #FFFFFF;
  --nav-hover-link-color: #5CA4A9;
  --nav-hover-background-color: #dedede; 
}    
body {
  font-family: var(--paragraph-font);
  max-width: 9600px ;
  padding: 20px ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

footer{
    color: var( --primary-color)
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}


p {
  padding: 25px;
}




nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}


nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
