@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* <a href="https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c" target="_blank">https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c</a> */
:root {
    font-family: 'Lato', sans-serif;

    /* https://coolors.co/f7b32b-2660a4-ffffff-5ca4a9-a40e4c */
  --primary-color: #f7B32B ;
  --secondary-color: #2660A4;
  --accent1-color: #537caa;
  --accent2-color: #5CA4A9;

  --heading-font: Lato, serif;
  --paragraph-font: 'Lato' , serif;

  --nav-background-color: #5CA4A9;
  --nav-link-color: #FFFFFF;
  --nav-hover-link-color: #5CA4A9;
  --nav-hover-background-color: #dedede; 
}    

body {
  font-family: var(--paragraph-font);
  max-width: 9600px ;
  padding: 20px ;
}
.flex {
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
  display: flex;

}

.flex figure {
  /* grid-column: 5; */
  /* flex: 1 0%; */
  /* border: thin var(--nav-link-color) solid; */
  /* display: flex; */
  padding: 0px;
  /* max-width: 20px; */
  margin: auto;
}
.flex figure img {
  max-width: 220px;
}

figcaption {
  flex: 1 1 100%;
  background-color: var(--primary-color);
  color: var(--nav-link-color);
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  float:center;
  font-family: var(--heading-font);
  color: var(--primary-color);
}



header {
  display: grid;
  grid-template-columns: 33% 34% 23% 10% ;
  grid-template-rows: 40% 20% 40%;
  background-color: var(--accent2-color);
}

header img {
  grid-column: 1;
  grid-row-start: 1;

  /* width: 100px; */
}

nav{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--accent1-color);
}


p {
  padding: 25px;
}

/* CLAAF */
nav {
  background-color: var(--accent1-color);
  font-size: 1.2rem;
  display: flex;
}

.navigation {
  text-align: left;
	display: flex;
	list-style: none;
  /* background-color: #f7B32B; */
}

.navigation a{
  flex: 1 1 100%;
  float: right;
  display: flex;
  color: var(--nav-link-color);
  padding: 1rem;
  text-decoration: none;
  right: 100%;

}

/* CLAAF */

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
/* Class Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  /* float: center; */
  margin: 1rem;
  width: 900px;
  border: 1px solid rgba(247, 179, 43, 0.651);
  /* padding: 2px; */
  background-color: #ddd;
  color: #3496bf;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}
.hero h1{
    right: 33%;
    position: absolute;
    /* float: right; */
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

.hero article p {
    position: absolute;
    bottom: 50%;
    width: 70%;
    color:#FFFFFF;
}

.hero article img{
    position: absolute;
    top: 10%;
    left: 66%;
    width: 30%;
}

footer{
  float:left;
  width: 100%;
  background-color: var( --secondary-color)
  /* color: var( --primary-color) */
}

footer img{
  margin: 1rem;
  /* padding: 2px; */
  width: 60px;
}

footer nav{
  /* padding: 2px; */
  float:right;
  background-color: var(--secondary-color);
}