@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

:root {
  --primary-color: #fdd4d4 ;
  --secondary-color: #d4fdd8;
  --accent1-color: #d4e0fd;
  --accent2-color: #4c2424;

  --heading-font: '______', serif;
  --paragraph-font: '______', serif;

  --nav-background-color: #fc0606;
  --nav-link-color: #2b4af4;
  --nav-hover-link-color: #fdd4d4;
  --nav-hover-background-color: #fdd4d4;
}    
body {
  f______: var(--paragraph-font);
  m______: ______;
  padding: 20px ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}


p {
  padding: 25px;
}



nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
