nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* nav {
  background-color: steelblue;
  padding: 10px;
} */
nav a {
  color: white;
  display: block;
  padding: 10px;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

h1{
  border-bottom: 1px solid steelblue;;
  /* border: #000;
  border-color: #000; */
  color: steelblue;
}
/* main h1 {
  border: #000;
  border-bottom: #000;
  color: steelblue;
} */

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 20px;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  max-width: 840px;
  grid-column: 2/3;
  margin: 1rem;
}
aside {
  position: relative;
  width: 500px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  }
aside img {
  position:relative;
  top: 10px;
    width: 200px;
    height: auto;
  }


aside h2 {
    position: absolute;
    top: 0px;
    left: 215px;
  }
  
main img {
    width: 150px;
    height: auto;
    float: right;
  }


header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
  }

/* Class Selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  margin: 1rem;
  width: 500px;
  border: 1px solid rgba(96, 93, 255, 0.651);
  padding: 1rem;
  background-color: #ddd;
  color: #3496bf;
}
/* Class Selectors */